{% extends 'base.html' %}{% block content %}

<h1>About My MCU</h1>
<hr />
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit libero reprehenderit, labore laudantium expedita eos soluta ipsam neque quasi similique eaque in eum doloribus nemo temporibus est, magni dicta voluptatum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit libero reprehenderit, labore laudantium expedita eos soluta ipsam neque quasi similique eaque in eum doloribus nemo temporibus est, magni dicta voluptatum?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit libero reprehenderit, labore laudantium expedita eos soluta ipsam neque quasi similique eaque in eum doloribus nemo temporibus est, magni dicta voluptatum?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit libero reprehenderit, labore laudantium expedita eos soluta ipsam neque quasi similique eaque in eum doloribus nemo temporibus est, magni dicta voluptatum?</p>

{% endblock %}