{% extends 'base.html' %}{% block content %}

<h1>About My MCU</h1>
<hr />
<div class="about">
<p>My MCU is a site that once you create an account will be able to keep a running list of all your favorite Marvel Cinematic Universe(MCU) Movies!</p>
<br />
<p>The 'View Movie' page allows you to look through the current released movies. The list is in the correct timeline/watch order.</p>
<br />
<p>In the future there wll be a list of all the TV shows within the MCU as well, just like the list of movies already on the site. There will also be a future Marvel projects portion of the site to allow you to visit what's to come.</p>
</div>

{% endblock %}