{% extends 'base.html' %}{% block content %}

<h1>All MCU Movies</h1>
<hr />
<div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-america">
             <span class="card-title"><b>Captain America: The First Avenger</b></span>
             <p>2011</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-marvel">
             <span class="card-title"><b>Captain Marvel</b></span>
             <p>2019</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
<div class="card">
   <!-- 'a' tag goes here -->
        <div class="card-content" id="iron-man">
            <span class="card-title"><b>Iron Man</b></span>
            <p>2008</p>
            <hr />
            <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
        </div>
    <!-- close 'a' tag -->
</div>
<div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="hulk">
             <span class="card-title"><b>The Incredible Hulk</b></span>
             <p>2008</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="iron-man">
             <span class="card-title"><b>Iron Man 2</b></span>
             <p>2010</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="thor">
             <span class="card-title"><b>Thor</b></span>
             <p>2011</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title"><b>The Avengers</b></span>
             <p>2012</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="iron-man">
             <span class="card-title"><b>Iron Man 3</b></span>
             <p>2013</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="thor">
             <span class="card-title"><b>Thor: The Dark World</b></span>
             <p>2013</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-america">
             <span class="card-title"><b>Captain America: The Winter Soldier</b></span>
             <p>2014</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="guardians">
             <span class="card-title"><b>Guardians of the Galaxy</b></span>
             <p>2014</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="guardians">
             <span class="card-title"><b>Guardians of the Galaxy Vol. 2</b></span>
             <p>2017</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title"><b>Avengers: Age of Ultron</b></span>
             <p>2015</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="ant-man">
             <span class="card-title"><b>Ant-Man</b></span>
             <p>2015</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-america">
             <span class="card-title"><b>Captain America: Civil War</b></span>
             <p>2016</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="black-widow">
             <span class="card-title"><b>Black Widow</b></span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="spider-man">
             <span class="card-title"><b>Spider-Man: Homecoming</b></span>
             <p>2017</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="black-panther">
             <span class="card-title"><b>Black Panther</b></span>
             <p>2018</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="doctor-strange">
             <span class="card-title"><b>Doctor Strange</b></span>
             <p>2016</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="thor">
             <span class="card-title"><b>Thor: Ragnarok</b></span>
             <p>2017</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="ant-man">
             <span class="card-title"><b>Ant-Man and the Wasp</b></span>
             <p>2018</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title"><b>Avengers: Infinity War</b></span>
             <p>2018</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title"><b>Avengers: Endgame</b></span>
             <p>2019</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="spider-man">
             <span class="card-title"><b>Spider-Man: Far From Home</b></span>
             <p>2019</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="eternals">
             <span class="card-title"><b>Eternals</b></span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="shang-chi">
             <span class="card-title"><b>Shang-Chi and the Legend of the Ten Rings</b></span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="spider-man">
             <span class="card-title"><b>Spider-Man: No Way Home</b></span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>

{% endblock %}