{% extends 'base.html' %}{% block content %}

<h1>All MCU Movies</h1>
<hr />
<div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-america">
             <span class="card-title">Captain America: The First Avenger</span>
             <p>2011</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-marvel">
             <span class="card-title">Captain Marvel</span>
             <p>2019</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
<div class="card">
   <!-- 'a' tag goes here -->
        <div class="card-content" id="iron-man">
            <span class="card-title">Iron Man</span>
            <p>2008</p>
            <hr />
            <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
        </div>
    <!-- close 'a' tag -->
</div>
<div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="hulk">
             <span class="card-title">The Incredible Hulk</span>
             <p>2008</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="iron-man">
             <span class="card-title">Iron Man 2</span>
             <p>2010</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="thor">
             <span class="card-title">Thor</span>
             <p>2011</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title">The Avengers</span>
             <p>2012</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="iron-man">
             <span class="card-title">Iron Man 3</span>
             <p>2013</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="thor">
             <span class="card-title">Thor: The Dark World</span>
             <p>2013</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-america">
             <span class="card-title">Captain America: The Winter Soldier</span>
             <p>2014</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="guardians">
             <span class="card-title">Guardians of the Galaxy</span>
             <p>2014</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="guardians">
             <span class="card-title">Guardians of the Galaxy Vol. 2</span>
             <p>2017</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title">Avengers: Age of Ultron</span>
             <p>2015</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="ant-man">
             <span class="card-title">Ant-Man</span>
             <p>2015</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-america">
             <span class="card-title">Captain America: Civil War</span>
             <p>2016</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="black-widow">
             <span class="card-title">Black Widow</span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="spider-man">
             <span class="card-title">Spider-Man: Homecoming</span>
             <p>2017</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="black-panther">
             <span class="card-title">Black Panther</span>
             <p>2018</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="doctor-strange">
             <span class="card-title">Doctor Strange</span>
             <p>2016</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="thor">
             <span class="card-title">Thor: Ragnarok</span>
             <p>2017</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="ant-man">
             <span class="card-title">Ant-Man and the Wasp</span>
             <p>2018</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title">Avengers: Infinity War</span>
             <p>2018</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title">Avengers: Endgame</span>
             <p>2019</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="spider-man">
             <span class="card-title">Spider-Man: Far From Home</span>
             <p>2019</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="eternals">
             <span class="card-title">Eternals</span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="shang-chi">
             <span class="card-title">Shang-Chi and the Legend of the Ten Rings</span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="spider-man">
             <span class="card-title">Spider-Man: No Way Home</span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odio ipsum blanditiis iste in numquam, voluptatem nesciunt inventore rerum iusto sapiente, cum quod, ad vel dicta. Tempore quae neque dignissimos!</p>
         </div>
     <!-- close 'a' tag -->
 </div>

{% endblock %}