{% extends 'base.html' %}{% block content %}

<h1>All MCU Movies</h1>
<hr />
<div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-america">
             <span class="card-title"><b>Captain America: The First Avenger</b></span>
             <p>2011</p>
             <hr />
             <p class="card-tabs">Steve Rogers, a rejected military soldier, transforms into Captain America after taking a dose of a "Super-Soldier serum". But being Captain America comes at a price as he attempts to take down a war monger and a terrorist organization.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-marvel">
             <span class="card-title"><b>Captain Marvel</b></span>
             <p>2019</p>
             <hr />
             <p class="card-tabs">Carol Danvers becomes one of the universe's most powerful heroes when Earth is caught in the middle of a galactic war between two alien races.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
<div class="card">
   <!-- 'a' tag goes here -->
        <div class="card-content" id="iron-man">
            <span class="card-title"><b>Iron Man</b></span>
            <p>2008</p>
            <hr />
            <p class="card-tabs">After being held captive in an Afghan cave, billionaire engineer Tony Stark creates a unique weaponized suit of armor to fight evil.</p>
        </div>
    <!-- close 'a' tag -->
</div>
<div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="hulk">
             <span class="card-title"><b>The Incredible Hulk</b></span>
             <p>2008</p>
             <hr />
             <p class="card-tabs">Bruce Banner, a scientist on the run from the U.S. Government, must find a cure for the monster he turns into whenever he loses his temper.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="iron-man">
             <span class="card-title"><b>Iron Man 2</b></span>
             <p>2010</p>
             <hr />
             <p class="card-tabs">With the world now aware of his identity as Iron Man, Tony Stark must contend with both his declining health and a vengeful mad man with ties to his father's legacy.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="thor">
             <span class="card-title"><b>Thor</b></span>
             <p>2011</p>
             <hr />
             <p class="card-tabs">The powerful but arrogant god Thor is cast out of Asgard to live amongst humans in Midgard (Earth), where he soon becomes one of their finest defenders.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title"><b>The Avengers</b></span>
             <p>2012</p>
             <hr />
             <p class="card-tabs">Earth's mightiest heroes must come together and learn to fight as a team if they are going to stop the mischievous Loki and his alien army from enslaving humanity.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="iron-man">
             <span class="card-title"><b>Iron Man 3</b></span>
             <p>2013</p>
             <hr />
             <p class="card-tabs">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="thor">
             <span class="card-title"><b>Thor: The Dark World</b></span>
             <p>2013</p>
             <hr />
             <p class="card-tabs">When the Dark Elves attempt to plunge the universe into darkness, Thor must embark on a perilous and personal journey that will reunite him with doctor Jane Foster.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-america">
             <span class="card-title"><b>Captain America: The Winter Soldier</b></span>
             <p>2014</p>
             <hr />
             <p class="card-tabs">As Steve Rogers struggles to embrace his role in the modern world, he teams up with a fellow Avenger and S.H.I.E.L.D agent, Black Widow, to battle a new threat from history: an assassin known as the Winter Soldier.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="guardians">
             <span class="card-title"><b>Guardians of the Galaxy</b></span>
             <p>2014</p>
             <hr />
             <p class="card-tabs">A group of intergalactic criminals must pull together to stop a fanatical warrior with plans to purge the universe.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="guardians">
             <span class="card-title"><b>Guardians of the Galaxy Vol. 2</b></span>
             <p>2017</p>
             <hr />
             <p class="card-tabs">The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father the ambitious celestial being Ego.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title"><b>Avengers: Age of Ultron</b></span>
             <p>2015</p>
             <hr />
             <p class="card-tabs">When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's mightiest heroes to stop the villainous Ultron from enacting his terrible plan.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="ant-man">
             <span class="card-title"><b>Ant-Man</b></span>
             <p>2015</p>
             <hr />
             <p class="card-tabs">Armed with a super-suit with the astonishing ability to shrink in scale but increase in strength, cat burglar Scott Lang must embrace his inner hero and help his mentor, Dr. Hank Pym, pull off a plan that will save the world.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="captain-america">
             <span class="card-title"><b>Captain America: Civil War</b></span>
             <p>2016</p>
             <hr />
             <p class="card-tabs">Political involvement in the Avengers' affairs causes a rift between Captain America and Iron Man.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="black-widow">
             <span class="card-title"><b>Black Widow</b></span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">Natasha Romanoff confronts the darker parts of her ledger when a dangerous conspiracy with ties to her past arises.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="spider-man">
             <span class="card-title"><b>Spider-Man: Homecoming</b></span>
             <p>2017</p>
             <hr />
             <p class="card-tabs">Peter Parker balances his life as an ordinary high school student in Queens with his superhero alter-ego Spider-Man, and finds himself on the trail of a new menace prowling the skies of New York City.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="black-panther">
             <span class="card-title"><b>Black Panther</b></span>
             <p>2018</p>
             <hr />
             <p class="card-tabs">T'Challa, heir to the hidden but advanced kingdom of Wakanda, must step forward to lead his people into a new future and must confront a challenger from his country's past.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="doctor-strange">
             <span class="card-title"><b>Doctor Strange</b></span>
             <p>2016</p>
             <hr />
             <p class="card-tabs">While on a journey of physical and spiritual healing, a brilliant neurosurgeon is drawn into the world of the mystic arts.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="thor">
             <span class="card-title"><b>Thor: Ragnarok</b></span>
             <p>2017</p>
             <hr />
             <p class="card-tabs">Imprisoned on the planet Sakaar, Thor must race against time to return to Asgard and stop Ragnarök, the destruction of his world, at the hands of the powerful and ruthless villain Hela.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="ant-man">
             <span class="card-title"><b>Ant-Man and the Wasp</b></span>
             <p>2018</p>
             <hr />
             <p class="card-tabs">As Scott Lang balances being both a superhero and a father, Hope van Dyne and Dr. Hank Pym present an urgent new mission that finds the Ant-Man fighting alongside The Wasp to uncover secrets from their past.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title"><b>Avengers: Infinity War</b></span>
             <p>2018</p>
             <hr />
             <p class="card-tabs">The Avengers and their allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="avengers">
             <span class="card-title"><b>Avengers: Endgame</b></span>
             <p>2019</p>
             <hr />
             <p class="card-tabs">After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="spider-man">
             <span class="card-title"><b>Spider-Man: Far From Home</b></span>
             <p>2019</p>
             <hr />
             <p class="card-tabs">Following the events of Avengers: Endgame (2019), Spider-Man must step up to take on new threats in a world that has changed forever.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="eternals">
             <span class="card-title"><b>Eternals</b></span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">The saga of the Eternals, a race of immortal beings who lived on Earth and shaped its history and civilizations.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="shang-chi">
             <span class="card-title"><b>Shang-Chi and the Legend of the Ten Rings</b></span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">Shang-Chi, the master of weaponry-based Kung Fu, is forced to confront his past after being drawn into the Ten Rings organization.</p>
         </div>
     <!-- close 'a' tag -->
 </div>
 <div class="card">
    <!-- 'a' tag goes here -->
         <div class="card-content" id="spider-man">
             <span class="card-title"><b>Spider-Man: No Way Home</b></span>
             <p>2021</p>
             <hr />
             <p class="card-tabs">With Spider-Man's identity now revealed, Peter asks Doctor Strange for help. When a spell goes wrong, dangerous foes from other worlds start to appear, forcing Peter to discover what it truly means to be Spider-Man.</p>
         </div>
     <!-- close 'a' tag -->
 </div>

{% endblock %}